apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "account_id": "NEW_RELIC_ACCOUNT_ID", # required.
      "api_key": "NEW_RELIC_API_KEY", # required.  Usually prefixed with 'NRAK'
      "region": "US" # optional.  Valid regions are US and EU
    }
